<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
hello public index<br>
<a href="{{ path('adminIndex') }}"> adminIndex </a><br>
<a href="{{ path('publicIndex') }}"> publicIndex </a><br>
<a href="{{ path('wordsIndex') }}"> wordsIndex </a><br>
<a href="{{ path('goodsIndex') }}"> goodsIndex </a><br>
<a href="{{ path('logout') }}"> logout </a>
</body>
</html>