{% extends "PublicBundle:Global:base.html.twig" %}

{% block pageLevelPlugins %}
    <link rel="stylesheet" href="{{ asset(METRONIC_GLOBAL~'plugins/select2/css/select2.min.css') }}" type="text/css" />
    <link rel="stylesheet" href="{{ asset(METRONIC_GLOBAL~'plugins/select2/css/select2-bootstrap.min.css') }}" type="text/css" />
{% endblock %}

{% block pageLevelStyles %}
    <link rel="stylesheet" href="{{ asset(METRONIC_PAGES~'css/login-5.min.css') }}" type="text/css" />
{% endblock %}

{% block stylesheet %}
    <style>
        .user-login-5 .alert { margin-top:-5px; }
    </style>
{% endblock %}

{% block body %}
<body class="login">
<div class="user-login-5">
    <div class="row bs-reset">
        <div class="col-md-6 bs-reset">
            <div class="login-bg" style="background-image:url({{ asset('bundles/public/images/login/bg1.jpg') }})">
                <a href="{{ path('publicIndex') }}"><img class="login-logo" src="{{ asset(PUBLIC_IMAGES~'logo130_32.png') }}" /> </a>
            </div>
        </div>
        <div class="col-md-6 login-container bs-reset">
            <div class="login-content">
                <h1> {{ GLOBAL_TITLE }}登录 </h1>
                <form action="{{ path('loginCheck') }}" class="login-form" method="post">
                    {{ messages.alertClose('danger', '请输入您的用户名和密码', 'display-hide login-alert') }}
                    <div class="row">
                        {{ forms.divCol('_username', last_username, '', '用户名') }}
                        {{ forms.divCol('_password', '', 'password', '密码') }}
                    </div>
                    <div class="row">
                        <div class="col-sm-4 col-xs-4">
                            <div class="rem-password">
                                <label class="rememberme mt-checkbox mt-checkbox-outline">
                                    <input type="checkbox" name="_remember_me" value="1" /> 记住我
                                    <span></span>
                                </label>
                            </div>
                        </div>
                        <div class="col-sm-8 col-xs-8 text-right">
                            <div class="forgot-password">
                                <a href="javascript:;" id="forget-password" class="forget-password"> 忘记密码 </a>
                            </div>
                            <div class="new-registered">
                                <a href="javascript:;" id="new-register" class="new-register"> 注册新账号 </a>
                            </div>
                            <button class="btn green login-btn" type="button"> 登录 </button>
                        </div>
                    </div>
                </form>
                <!-- BEGIN FORGOT PASSWORD FORM -->
                <form class="forget-form" action="javascript:;" method="post">
                    <h3 class="font-green"> 忘记密码 </h3>
                    <div class="alert forget-alert">
                        <p> 输入您的电子邮件地址来重置您的密码 </p>
                    </div>
                    <div class="form-group">
                        {{ forms.input('email', '', '', '邮箱地址') }}
                    </div>
                    <div class="form-actions">
                        <button type="button" class="btn green btn-outline back-btn"> 返回 </button>
                        <button type="button" class="btn btn-success uppercase pull-right forgetPasswd-btn"> 提交 </button>
                    </div>
                </form>
                <!-- END FORGOT PASSWORD FORM -->
                <!-- BEGIN REGISTER PASSWORD FORM -->
                <form class="register-form" action="javascript:;" method="post">
                    <h3 class="font-green"> 注册账号 </h3>
                    <div class="alert register-alert">
                        <p> 输入您的电子邮件地址来注册新账号 </p>
                    </div>
                    <div class="row">
                        {{ forms.divCol('email', '', '', '邮箱地址') }}
                        {{ forms.divCol('username', '', '', '用户名') }}
                    </div>
                    <div class="row">
                        {{ forms.divCol('password', '', 'password', '密码') }}
                        {{ forms.divCol('rePassword', '', 'password', '确认密码') }}
                    </div>
                    <div class="row">
                        <div class="col-md-8">
                            <button type="button" class="btn green btn-outline back-btn"> 返回 </button>
                            <button type="button" class="btn btn-success uppercase pull-right new-register-btn"> 注册 </button>
                        </div>
                    </div>
                </form>
                <!-- END REGISTER PASSWORD FORM -->
            </div>
            <div class="login-footer">
                <div class="row bs-reset">
                    <div class="col-xs-5 bs-reset">
                        {#<ul class="login-social">#}
                        {#<li>#}
                        {#<a href="javascript:;">#}
                        {#<i class="icon-social-facebook"></i>#}
                        {#</a>#}
                        {#</li>#}
                        {#<li>#}
                        {#<a href="javascript:;">#}
                        {#<i class="icon-social-twitter"></i>#}
                        {#</a>#}
                        {#</li>#}
                        {#<li>#}
                        {#<a href="javascript:;">#}
                        {#<i class="icon-social-dribbble"></i>#}
                        {#</a>#}
                        {#</li>#}
                        {#</ul>#}
                    </div>
                    <div class="col-xs-7 bs-reset">
                        <div class="login-copyright text-right">
                            <p> Copyright © {{ "now" | date("Y") }} {{ COPYWRITE }} {% include "PublicBundle::Footer/version.html.twig" %} </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block footer %}{% endblock %}

{% block pageLevelPluginsScript %}
    <script src="{{ asset(METRONIC_GLOBAL~'plugins/jquery-validation/js/jquery.validate.min.js') }}" type="text/javascript"></script>
    <script src="{{ asset(METRONIC_GLOBAL~'plugins/jquery-validation/js/additional-methods.min.js') }}" type="text/javascript"></script>
    <script src="{{ asset(METRONIC_GLOBAL~'plugins/select2/js/select2.full.min.js') }}" type="text/javascript"></script>
    <script src="{{ asset(METRONIC_GLOBAL~'plugins/backstretch/jquery.backstretch.min.js') }}" type="text/javascript"></script>
{% endblock %}

{% block pageLevelScripts %}
    <script src="{{ asset(METRONIC_PAGES~'scripts/login-5.min.js') }}" type="text/javascript"></script>
{% endblock %}

{% block javascripts %}
    <script type="text/javascript">
        $(function(){
            {% if errorMsg %}
            $('.login-alert').fadeIn().addClass('alert-danger').removeClass('alert-success').find('p').html('{{ errorMsg }}');
            {% endif %}
            $(document).on('click', '.login-btn', function() {
                var errorFlag = true;
                $('.login-form input').each(function(index, el) {
                    if ($(this).val() == '') {
                        $(this).focus();
                        errorFlag = false;
                        return false;
                    }
                });
                errorFlag ? $(this).attr('type', 'submit') : $('.login-alert').fadeIn().addClass('alert-danger').removeClass('alert-success').find('p').html('请输入您的用户名和密码！');
            });
            $(document).on('click', '.forgetPasswd-btn', function(event) {
                var email = $('.forget-form input[name="email"]').val();
                if(!email.match(/^([a-zA-Z0-9_-])+@([a-zA-Z0-9_-])+((\.[a-zA-Z0-9_-]{2,3}){1,2})$/)) {
                    $('.forget-alert').fadeIn().addClass('alert-danger').removeClass('alert-success').find('p').html('邮箱格式不正确！请重新输入!');
                    $('.forget-form input[name="email"]').focus();
                } else {
                    $.ajax({
                        url: '{{ path('forgetPasswordAjax') }}',
                        type: 'post',
                        dataType: 'json',
                        data: $('.forget-form').serialize(),
                    }).done(function(data) {
                        var _data = data.state ? 'success' : 'danger'
                        $('.forget-alert').attr('class', 'alert forget-alert ' + _data).find('p').html(data.msg );
                    }).fail(function() {
                        console.log("未知错误！");
                    })
                }
            });
            $(document).on('click', '.new-register-btn', function (event) {
                var obj = new Object();
                $(".register-form input").each(function (index, el) {
                    obj[$(this).attr('name')] = $(this).val();
                });
                var reg = /^[\w-]+@[\w-]+(\.[\w-]+)+$/;
                if (!reg.test(obj['email'])) {
                    $('.register-alert').fadeIn().addClass('alert-danger').removeClass('alert-success').find('p').html('邮箱格式不正确！请重新输入!');
                }else if (obj['password'] != obj['rePassword']) {
                    $('.register-alert').fadeIn().addClass('alert-danger').removeClass('alert-success').find('p').html('两次密码不一致，请重新输入！');
                }else{
                    $.ajax({
                        url: '{{ path('registerAjax') }}',
                        type: 'post',
                        dataType: 'json',
                        data: $('.register-form').serialize(),
                    }).done(function (data) {
                        console.log(data);
                    }).fail(function (data) {
                        console.log("未知错误！");
                    });
                }
            });
        })
    </script>
{% endblock %}
