{% extends "PublicBundle:Global:base_index.html.twig" %}

{% block head %}
    {{ parent() }}
    <style>
        .alert a{ color:#3598dc !important; }
    </style>
{% endblock %}

{% block pageLevelPlugins %}
    {% stylesheets output='css/login/pageLevelPlugins.css'
    '@PublicBundle/Resources/public/metronic/assets/global/plugins/select2/css/select2.min.css'
    '@PublicBundle/Resources/public/metronic/assets/global/plugins/select2/css/select2-bootstrap.min.css'
    %}
    <link rel="stylesheet" href="{{ asset_url }}" type="text/css" />
    {% endstylesheets %}
{% endblock %}

{% block pageLevelStyles %}
    <link rel="stylesheet" href="{{ asset(METRONIC_PAGES~'css/login-2.min.css') }}" type="text/css" />
{% endblock %}
{% block content %}
<body class="login">
    <div class="logo">
        <a href="{{ path('publicIndex') }}">
            <img src="{{ asset('bundles/public/images/logo330_82.png') }}" />
        </a>
    </div>
    <div class="content">
        {% if data.state %}
            <!-- BEGIN LOGIN FORM -->
            <form class="login-form" method="post">
                <div class="form-title">
                    <span class="form-title">{{ GLOBAL_TITLE }}</span>
                    <span class="form-subtitle">重置密码</span>
                </div>
                <div class="alert alert-danger display-hide">
                    <button class="close" data-close="alert"></button>
                    <span> 请输入您的密码 </span>
                </div>
                <div class="form-group">
                    <label class="control-label visible-ie8 visible-ie9">密码</label>
                    <input class="form-control form-control-solid placeholder-no-fix" type="password" autocomplete="off" placeholder="密码" name="password" /> </div>
                <div class="form-group">
                    <label class="control-label visible-ie8 visible-ie9">确认密码</label>
                    <input class="form-control form-control-solid placeholder-no-fix" type="password" autocomplete="off" placeholder="确认密码" name="rePassword" /> </div>
                <div class="form-actions">
                    <button type="button" class="btn red btn-block uppercase reset-password">重置</button>
                </div>
            </form>
            <!-- END LOGIN FORM -->
        {% else %}
            <div class="alert alert-danger">
                <span> {{ data.msg }} </span>
                <p>3 秒后将跳转到首页！<a href="{{ path('publicIndex') }}">立即前往&gt;&gt;</a></p>
            </div>
        {% endif %}
    </div>
    <div class="copyright">
        <p> Copyright © {{ "now" | date("Y") }} {{ COPYWRITE }} {% include "PublicBundle::Footer/version.html.twig" %} </p>
    </div>
{% endblock %}

{% block javascript %}
    {{ parent() }}
{% endblock %}

{% block pageLevelPluginsScript %}
    {% javascripts filter='jsqueeze' output='js/login/pageLevelPlugins.js'
    '@PublicBundle/Resources/public/metronic/assets/global/plugins/jquery-validation/js/jquery.validate.min.js'
    '@PublicBundle/Resources/public/metronic/assets/global/plugins/jquery-validation/js/additional-methods.min.js'
    '@PublicBundle/Resources/public/metronic/assets/global/plugins/select2/js/select2.full.min.js'
    '@PublicBundle/Resources/public/metronic/assets/global/plugins/backstretch/jquery.backstretch.min.js'
    %}
    <script src="{{ asset_url }}" type="text/javascript"></script>
    {% endjavascripts %}
{% endblock %}

{% block pageLevelScripts %}
    <script src="{{ asset(METRONIC_PAGES~'scripts/login.min.js') }}" type="text/javascript"></script>
    <script type="text/javascript">
        $(function(){
            {% if data.state %}
            $(document).on('click', '.reset-password', function() {
                var token = '{{ token }}';
                var _input = $('.login-form input');
                var flag, msg;
                _input.each(function(index, el) {
                    if ($(this).val() == '') {
                        $(this).focus();
                        flag = 'none';
                        return false;
                    }
                });
                if (flag == 'none') {
                    msg = '密码不能为空，请输入您的密码！';
                } else if (_input.eq(0).val() != _input.eq(1).val()) {
                    msg = '两次密码不一致，请输入您的密码！';
                } else {
                    $('.alert').fadeOut();
                    $.ajax({
                        url: '{{ path('resetPassword') }}',
                        type: 'post',
                        dataType: 'json',
                        data: {'token': '{{ token }}', 'password': _input.eq(0).val()},
                    }).done(function(data) {
                        if (data.state) {
                            $('.alert').attr('class', 'alert alert-success display-hide').fadeIn().find('span').html(data.msg);
                            setTimeout(function() {
                                window.location.href = '{{ path('loginRoute') }}';
                            }, 2000);
                        }
                    }).fail(function(data) {
                        console.log(data);
                    });
                    return false;
                }
                $('.alert').fadeIn().find('span').html(msg);
            });
            {% else %}
            setTimeout(function() {
                window.location.href = '{{ path('loginRoute') }}';
            }, 3000);
            {% endif %}
        })
    </script>
{% endblock %}
